{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="bg-white shadow-xl rounded-lg p-8 sm:p-10 text-center">
            
            <h4 class="text-center text-2xl font-semibold text-gray-800 mb-6">
                Email Telah Terkirim
            </h4>
            <p class="text-gray-600 mb-4">
                Kami telah mengirimkan instruksi reset password ke email Anda (jika email tersebut terdaftar).
            </p>
            <p class="text-gray-600">
                Silakan periksa kotak masuk Anda (dan folder spam).
            </p>
            <a href="{% url 'user:login' %}" class="mt-8 inline-block text-brand-light-blue hover:text-blue-700 font-medium">
                Kembali ke Login
            </a>
        </div>
    </div>
</div>
{% endblock %}